/* The asterisk selects everything and the commas are actually and lu. So basically. Everything whent it's created and before it and after it has the box sizing 
border box margin 0 and padding 0. Bob was cooking here ngl */
*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}

.menubtn {
  background-color: #dec670e5;
  color: black;
  transition-duration: 1s, 1s, 500ms;
  transition-property: transform, color, background-color;
}

.menubtn:hover {
  background-color: #b09b4ff1;
  color: white;
  transform: scale(110%)
}
.sidebar{
  display:flex;flex-direction:column;gap:.75rem;
  padding:1rem .9rem;
  background:rgba(255, 203, 15, 0.459);
  border-right:1px solid rgba(218, 255, 56, 0.801);
  border-radius: 9px;
  position:sticky;left:5px;height:98vh;top:1vh;
  overflow-y:auto;scrollbar-width:thin;scrollbar-color:rgba(202, 197, 149, 0.671) transparent;
}
.sidebar-section{padding:.7rem;border-radius:9px;border:1px solid rgba(214, 212, 68, 0.822);background:rgba(238, 255, 0, 0.116)}
.sidebar-buttons{display:flex;flex-direction:column;gap:.38rem;border-radius:9px;border-color: black;}
.app{position:relative;z-index:1;min-height:100vh;display:grid;grid-template-columns:230px 1fr}